@import '/src/scss/style.module.scss';

.logotips {
  display: flex;
  justify-content: center;
  @include f400;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
  will-change: filter;
  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  &.active {
    animation: logo-spin infinite 20s linear;
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
